/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
*.styleci.yml
/database/mysql
*.lock
/firebase_service_account_key.json
phpunit-output.log
kwik_job_query_options.json
existing_kwik_orders.json
PopulateKwikPickupsAndDelivery.php